In [16]:
#!pip install pandas==1.3.3
#!pip install requests==2.26.0
!mamba install bs4==4.10.0 -y
!mamba install html5lib==1.1 -y
!pip install lxml==4.6.4
#!pip install plotly==5.3.1

'mamba' is not recognized as an internal or external command,
operable program or batch file.
'mamba' is not recognized as an internal or external command,
operable program or batch file.

Requirement already satisfied: lxml==4.6.4 in d:\anaconda3\lib\site-packages (4.6.4)

In [18]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [44]:
url ='https://data.sa.gov.au/data/dataset/c34c0eb1-373b-404a-ad16-e993e6408f50/resource/a78b4b4f-834f-4e90-b38a-b3f12750bea5/download/qr_checkin_reporting.csv'
df = pd.read_csv(url)
#df = pd.read_csv(url,header=None)

In [45]:
df

,Date,CheckIns,ActiveOrganisations,UniqueMobiles,CheckInsCumulative,ActiveOrganisationsCumulative,UniqueMobilesCumulative,DeletionsCumulative
0,11-30-2020,4015,1299,3670.0,4015,1299,3670,0
1,12-01-2020,217045,11011,169249.0,221060,11200,171076,0
2,12-02-2020,380087,15241,259931.0,601147,16892,345614,0
3,12-03-2020,472352,16851,304865.0,1073499,19989,476447,0
4,12-04-2020,561530,17109,342564.0,1635029,21721,578250,0
...,...,...,...,...,...,...,...,...
420,01-24-2022,1356855,36598,568446.0,615552047,107334,2171508,577245149
421,01-25-2022,1475328,38303,597685.0,617027375,107384,2173110,578410921
422,01-26-2022,742380,15643,394654.0,617769755,107438,2174863,580053739
423,01-27-2022,1477799,39245,591176.0,619247554,107479,2176877,581690286
424,01-28-2022,1534921,38913,605008.0,620782475,107536,2178906,583257620

In [46]:
df.shape

(425, 8)

In [47]:
print(df.isnull().sum())

Date                             0
CheckIns                         0
ActiveOrganisations              0
UniqueMobiles                    2
CheckInsCumulative               0
ActiveOrganisationsCumulative    0
UniqueMobilesCumulative          0
DeletionsCumulative              0
dtype: int64

In [50]:
directory = r"C:\Users\Ajay PC\Desktop\Data Science\Example5.csv"
  
# get fileName from user
filepath = directory
  
# Creates a new file
with open(filepath, 'w+') as fp:
    pass

In [51]:
df.to_csv (filepath, index = False, header=True)

print (df)

           Date  CheckIns  ActiveOrganisations  UniqueMobiles  \
0    11-30-2020      4015                 1299         3670.0
1    12-01-2020    217045                11011       169249.0
2    12-02-2020    380087                15241       259931.0
3    12-03-2020    472352                16851       304865.0
4    12-04-2020    561530                17109       342564.0
..          ...       ...                  ...            ...
420  01-24-2022   1356855                36598       568446.0
421  01-25-2022   1475328                38303       597685.0
422  01-26-2022    742380                15643       394654.0
423  01-27-2022   1477799                39245       591176.0
424  01-28-2022   1534921                38913       605008.0

     CheckInsCumulative  ActiveOrganisationsCumulative  \
0                  4015                           1299
1                221060                          11200
2                601147                          16892
3               1073499                          19989
4               1635029                          21721
..                  ...                            ...
420           615552047                         107334
421           617027375                         107384
422           617769755                         107438
423           619247554                         107479
424           620782475                         107536

     UniqueMobilesCumulative  DeletionsCumulative
0                       3670                    0
1                     171076                    0
2                     345614                    0
3                     476447                    0
4                     578250                    0
..                       ...                  ...
420                  2171508            577245149
421                  2173110            578410921
422                  2174863            580053739
423                  2176877            581690286
424                  2178906            583257620

[425 rows x 8 columns]